@import '../abstract/variaveis';

#cupom{
    background-color: $cor-terciaria;
    padding: 4rem;
    text-align: center;
    .texto{
        color: $cor-primaria;
        h2{
            margin: 2rem;
            font-size: $tamanho-texto / 1.5;
        }
    }
    .input{
        margin: 0 auto;
        width: 25vw;
        border-radius: 20px;
        border: 4px solid white;
        background: white;
        input{
            border-radius: 20px;
            height: 100%;
            border: none;
            width: 100%;
            outline: none;
            text-align: center;
            font-size: 26px;
        }
        &:hover, &:focus-within{
            box-shadow: 1px 1px 8px 1px $cor-primaria;
            outline: none;
        }
    }
    button{
        margin-top: 0.75rem;
        outline: none;
        height: 2rem;
        text-align: center;
        width: 8vw;
        background-color: $cor-primaria;
        color: $cor-secundaria;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        border: 2px solid $cor-secundaria;
        border-radius: 40px;
        &:hover{
            background-color: transparent;
            transform: scale(1.1);
        }
    }
}